<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
">
    <bean id="actores" class="com.modelo.Actores" scope="prototype"></bean>
    <bean id="boleta" class="com.modelo.Boleta" scope="prototype"></bean>
    <bean id="cliente" class="com.modelo.Cliente" scope="prototype"></bean>
    <bean id="funcion" class="com.modelo.Funcion" scope="prototype"></bean>
    <bean id="pelicula" class="com.modelo.Pelicula" scope="prototype"></bean>
    <bean id="puntoDeVenta" class="com.modelo.PuntoDeVenta" scope="prototype"></bean>
    <bean id="sala" class="com.modelo.Sala" scope="prototype"></bean>
    <bean id="sede" class="com.modelo.Sede" scope="prototype"></bean>
    <bean id="silla" class="com.modelo.Silla" scope="prototype"></bean>
</beans>