<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd
">
    <bean id="actores" class="com.facade.ActoresFacade" scope="prototype"></bean>
    <bean id="boleta" class="com.facade.BoletaFacade" scope="prototype"></bean>
    <bean id="cliente" class="com.facade.ClienteFacade" scope="prototype"></bean>
    <bean id="funcion" class="com.facade.FuncionFacade" scope="prototype"></bean>
    <bean id="pelicula" class="com.facade.PeliculaFacade" scope="prototype"></bean>
    <bean id="puntoDeVenta" class="com.facade.PuntoDeVentaFacade" scope="prototype"></bean>
    <bean id="sala" class="com.facade.SalaFacade" scope="prototype"></bean>
    <bean id="sede" class="com.facade.SedeFacade" scope="prototype"></bean>
    <bean id="silla" class="com.facade.SillaFacade" scope="prototype"></bean>
</beans>